<html>
    <head></head>
    <title>ประวัติส่วนตัว</title>

    <body bgcolor="#87cefa" text="#8b4513" > </body>
    <h1>ชื่อ นางสาวอรสา  ทองสอนลอน </h1>
        เกิด 1 เมษายน พ.ศ. 2540 อายุ 21 ปี<br>
        จบมาจากโรงเรียนเทศบาลวัดกลาง จ.ขอนแก่น<br>
        ปัจจุบันกำลังศึกษาอยู่ที่ มหาวิทยาลัยเทคโนโลยีราชมงคลอีสาน วิทยาเขตขอนแก่น<br>
        คณะบริหารธุรกิจและเทคเทคโนโลยี<br>
        สาขาระบบสารสนเทศทางคอมพิวเตอร์<br>
        รหัสนักศึกษา 59342110229-4<br>
<img src="/assets/images/12.jpg">
</html>