@(jum:Shirts,dress:Shirts,jacket:Shirts,coat:Shirts,vest:Shirts,body:Shirts)
<br><br>
<div class="container">
    <div class="jumbotron">
        <div class="row" >
            <div class="col-lg-4">
                <h1 style="background-color:lightblue ;font-family: 'AngsanaUPC' ;font-size: 40pt ;color: whitesmoke">Jum </h1>
                <p style="background:thistle ; font-family: AngsanaUPC ;font-size: 18pt ;color: black"> รหัส :@jum.getId<br>
                    ชื่อ :@jum.getName<br>
                    ยี่ห้อ :@jum.getLogo<br>
                    ราคา :@jum.getPrice<br>
                    จำนวน :@jum.getNum<br>
                    สี :@jum.getCol<br>

                </p>
            </div>
            <br><br>
            <div class="col-lg-8">
                <img src="/assets/images/13.jpg" width="250px" height="250px">
            </div>
        </div>
    </div>
</div>

    <br><br>
<div class="container">
    <div class="jumbotron">
            <div class="row" >
                <div class="col-lg-4">
            <h1 style="background-color: #d58512;font-family: AngsanaUPC ;font-size: 40pt ;color: white">Dress </h1>
            <p style="background-color:white ;font-family: AngsanaUPC;font-size: 18pt ;color: #761c19"> รหัส :@dress.getId<br>
                ชื่อ :@dress.getName<br>
                ยี่ห้อ :@dress.getLogo<br>
                ราคา :@dress.getPrice<br>
                จำนวน :@dress.getNum<br>
                สี :@dress.getCol<br>
            </p>
                </div>
                <br><br>
                <div class="col-lg-8">
                <img src="/assets/images/8.jpg" width="250px" height="250px">
                </div>
            </div>
    </div>
</div>


    <br><br>
<div class="container">
    <div class="jumbotron">
        <div class="row" >
                <div class="col-lg-4">
            <h1 style="background-color:snow;font-family: AngsanaUPC ;font-size: 40pt ;color: black">Jacket </h1>
            <p style="background-color:orange;font-family: AngsanaUPC;font-size: 18pt; color:black" > รหัส :@jacket.getId<br>
                ชื่อ :@jacket.getName<br>
                ยี่ห้อ :@jacket.getLogo<br>
                ราคา :@jacket.getPrice<br>
                จำนวน :@jacket.getNum<br>
                สี :@jacket.getCol<br>
            </p>
                </div>
                <br><br>
                <div class="col-lg-8">
                <img src="/assets/images/9.jpg" width="250px" height="250px">
                </div>
        </div>


    </div>
</div>


    <br><br>
<div class="container">
    <div class="jumbotron">
            <div class="row" >
                <div class="col-lg-4">
            <h1 style="background-color: cadetblue;font-family: AngsanaUPC ;font-size: 40pt ;color: black">Coat </h1>
            <p style="background-color: lightskyblue; font-family: AngsanaUPC;font-size: 18pt;color: black"> รหัส :@coat.getId<br>
                ชื่อ :@coat.getName<br>
                ยี่ห้อ :@coat.getLogo<br>
                ราคา :@coat.getPrice<br>
                จำนวน :@coat.getNum<br>
                สี :@coat.getCol<br>
            </p>
                </div>
                <br><br>
                <div class="col-lg-8">
                <img src="/assets/images/10.jpg" width="250px" height="250px">
                </div>
            </div>

    </div>
</div>

    <br><br>
<div class="container">
    <div class="jumbotron">
            <div class="row" >
                <div class="col-lg-4">
            <h1 style="background-color: pink;font-family: AngsanaUPC ;font-size: 40pt ;color: black">Vest </h1>
            <p style="background-color: #dff0d8;font-family: AngsanaUPC;font-size: 18pt;color: #122b40"> รหัส :@vest.getId<br>
                ชื่อ :@vest.getName<br>
                ยี่ห้อ :@vest.getLogo<br>
                ราคา :@vest.getPrice<br>
                จำนวน :@vest.getNum<br>
                สี :@vest.getCol<br>
            </p>
                </div>
                <br><br>
                <div class="col-lg-8">
                <img src="/assets/images/11.jpg" width="250px" height="250px">
                </div>
            </div>
    </div>
</div>


    <br><br>
<div class="container">
    <div class="jumbotron">
        <div class="row" >
            <div class="col-lg-4">
                <h1 style="background-color: beige;font-family: AngsanaUPC ;font-size: 40pt ;color: green">Body </h1>
                <p style="background-color: aquamarine;font-family: AngsanaUPC;font-size: 18pt;color: #122b40"> รหัส :@body.getId<br>
                    ชื่อ :@body.getName<br>
                    ยี่ห้อ :@body.getLogo<br>
                    ราคา :@body.getPrice<br>
                    จำนวน :@body.getNum<br>
                    สี :@body.getCol<br>
                </p>
            </div>
            <div class="col-lg-8">
                <img src="/assets/images/14.jpg" width="250px" height="250px">
            </div>
        </div>

    </div>
</div>




