@(jjj:Shirts)

<div class="row">
    <div class="col-md-2" > </div>
    <div class="col-md-8">
        <br>
        <div class="panel panel-primary">
            <div class="panel-heading">@jjj.getName() </div>
            <div class="panel-body">
                ID: @jjj.getId() <br>
                NAME: @jjj.getName() <br>
                    LOGO: @jjj.getLogo() <br>
                    COL: @jjj.getCol() <br>
                    NUM: @jjj.getNum() <br>
                    PRICE:@jjj.getPrice <br>
            </div>
        </div>

        <br><br>
    </div>
    <div class="col-md-2" > </div>
</div>